/* Descrição: Folha de estilo da página iicial
Autor: Erick Mota
Última atualização: 21/08/2018 - 01:37*/

body { 
    
    overflow-x:hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-left: 0px;

}

#corpo {
    
    height: auto;

}

/* Conteúdo do site (versículos) ********************************************/

#conteudo {
    
    height: auto;
    
}

#cConteudo {
    
    width: 90%;
    height: auto;
    margin-top: 5px;
    
}

#cConteudo p {
    
    text-align: left;
    
}

.verso {
    
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    
}

.verso:hover {
    
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    
}

.capituloLeitura {
    
    color: #000000;
    font-size: 24px;
    
}

#voltarAvancar {
    
    width: 100%;
    height: 25px;
    margin-top: 50px;
    
}

.linkVoltar a {
    
    float: left;
    font-size: 18px;
    font-family: arial;
    color: #00a8ec;
    cursor: pointer;
    text-decoration: none;
    
}

.linkSeguir a {
    
    float: right;
    font-size: 18px;
    font-family: arial;
    color: #00a8ec;
    cursor: pointer;
    text-decoration: none;
    
}

.pComentarios {
    
    color: red;
    font-family: arial;
    font-size: 15px;
}

#barraEscura {
        
        width: 100%;
        height: 30px;
        background-color: #009cdb;
        z-index: 1;
        
    }
    
    #corpoBarraEscura {
        
        width: 90%;
        min-width: 300px;
        height: 25px;
        color: #FFFFFF;
        font-family: arial;
        font-weight: bold;
        vertical-align: middle;
        
    }
    
    .seta {
        
        width: 20px;
        margin-bottom: -4px;
        
    }
    
    .seta2 {
        
        width: 20px;
        margin-bottom: 1px
        
    }
    
    .modoLeitura {
        
        width: 20px;
        margin-bottom: -4px
        
    }
    
    .marcador {
        
        width: 20px;
        margin-bottom: -4px;
        cursor: pointer;
        
    }
    
    .textoBarraEscura {
        
        line-height: 30px;
        font-size: 13px;
        display: none;
        
    }
    
    .textoBarraEscura2 {
        
        line-height: 30px;
        font-size: 13px;
        text-decoration: none;
        color: white;
        
    }
    
    .textoBarraEscura3 {
        
        line-height: 30px;
        font-size: 13px;
        text-decoration: none;
        color: white;
        display: none;
        
    }
    
    #conteudoBarraEscura {
        
        width: 135px;
        height: 30px;
        float: right;
        
    }
    
    #conteudoBarraEscura2 {
        
        width: 110px;
        height: 30px;
        float: right;
        
    }
    
    #conteudoBarraEscura a {
        
        text-decoration: none;
        color: #FFFFFF;
        
    }
    
    #tituloBarraEscura {
        
        display: none;
        float: left;
        line-height: 30px;
        font-size: 15px;
        
    }
    
    #corpoAnotacoesRapidas {
        
        width: 90%;
        height: auto;
        margin-top: 30px;
        
    }
    
    .textoAnotacoes {
        
        width: 100%;
        min-height: 50px;
        resize: vertical;
        
    }
    
    .botaoAnotacoes {
        
        float: right;
        margin-top: 10px;
        
    }
    
    #menuMarcacao {
        
        width: 180px;
        height: 150px;
        background-color: #009cdb;
        left: -70px;
        position: relative;
        display: none;
        z-index: 2;
        top: 5px;
        border-radius: 0px 0px 10px 10px;
        font-family: arial;
        
    }
    
    #menuLeitura {
        
        width: 180px;
        height: 150px;
        background-color: #009cdb;
        left: -47px;
        position: relative;
        display: none;
        z-index: 2;
        top: 5px;
        border-radius: 0px 0px 10px 10px;
        font-family: arial;
        
    }
    
    #menuMarcacao table {
        
        color: #FFFFFF;
        font-family: arial;
        text-align: center;
        
    }
    
    #camadaMenuMarcacao {
        
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #000000;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.0;
        display: none;
        
    }
    
    #camadaMenuLeitura {
        
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #000000;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.0;
        display: none;
        
    }
    
    .imgBanner {
        
        margin-top: 30px;
        margin-bottom: -20px;
        width: 90%
        
    }
    
    #espacoPC{
        
        margin-top: 30px;
        margin-bottom: -20px;
        display: none;
        
    }
    
    #espacoCelular{
        
        margin-top: 30px;
        margin-bottom: -20px;
        width: 90%;
        
    }
    
    .versao {
        
        color: #0aa6ec;
        font-size: 15px;
        font-weight: normal;
        padding: 5px;
        border: #0aa6ec dashed 1px;
        background-color: #FFFFFF;
        
    }
    
    .aviso {
        
        color: lightslategray;
        font-size: 14px;
        
    }
    
    .numeroVerso {
        
        color: silver;
        font-size: 15px;
        
    }
    
    .imgUsuario2 {

        cursor: default;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

    }
    
    .numeroComentariosPorUsuario{
        
        background-color: red;
        color: white;
        font-size: 11px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        position: relative;
        bottom: 10px;
        left: 12px;
        
    }
    
    .espacoSeguindo{
        
        display: inline-block;
        
    }
    
    .espacoSeguindo:hover{
        
        text-decoration: none;
        
    }